body { margin: 0; padding: 0; font-family:"Arial";}



/* Only edit this if you know what you are doing! */
img { position: absolute; display: inline; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block;  margin: 0px; padding: 0px;}

#content-container > div{ position: relative; top:inherit; }
#page_maprc_ek1 {
	top: 0px;
	left: 0px;
	width: 1925px;
	height: 1016px;
}

#_bg__maprc_ek2 {
	top: 0px;
	left: 0px;
	width: 1925px;
	height: 1016px;
	background:rgba(11.48,29.32,38.25,1);
}

#content {
	top: -3px;
	left: 0px;
	width: 1928px;
	height: 1032px;
}

#bg {
	top: 3px;
	left: 0px;
	width: 1925px;
	height: 1016px;
	background:rgba(11.48,29.32,38.25,1);
}


#img_20210926_072207_1 {
	top: 0px;
	left: 0px;
	width: 1928px;
	height: 1032px;
}

#frame_18 {
	top: 114px;
	left: 198px;
	width: 988px;
	height: 154px;
}
#frame_3 {
	top: 0px;
	left: 0px;
	width: 988px;
	height: 154px;
}
#content_ek1 {
	top: 0px;
	left: 0px;
	width: 988px;
	height: 154px;
}
#group_17 {
	top: 0px;
	left: 0px;
	width: 277px;
	height: 22px;
}

#want_to_see {
	top: 0px;
	left: 104px;
	width: 196px;
	height: 35px;
	overflow: hidden;
	font-family: Gilroy;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	letter-spacing: 6px;
	color:#3E5118;
}


#rectangle_2_1 {
	top: 10px;
	left: 0px;
	width: 72px;
	height: 2px;
	background:rgba(62.14,81.81,24.54,1);
}


#year_book_of_class_2022 {
	top: 54px;
	left: 0px;
	width: 1081px;
	height: 162px;
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size: 88px;
	text-align: left;
	line-height: 100px;
	color:#FFFFFF;
}

#social {
	top: 343px;
	left: 1821px;
	width: 24px;
	height: 173px;
}

#follow_us {
	top: 28px;
	left: -26px;
	width: 100px;
	height: 35px;
	overflow: hidden;

	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
	font-family: Gilroy-Bold;
	font-size: 18px;
	text-align: left;
	color:#FFFFFF;
}

#instagram {
	top: 101px;
	left: 0px;
	width: 24px;
	height: 24px;
}

#vector {
	top: 2px;
	left: 2px;
	width: 20px;
	height: 20px;
}

#twitter {
	top: 149px;
	left: 0px;
	width: 24px;
	height: 24px;
}

#vector_ek1 {
	top: 4px;
	left: 1.54px;
	width: 20.92px;
	height: 17px;
}

#account {
	top: 106px;
	left: 1691px;
	width: 152px;
	height: 44px;
}

#rectangle_3 {
	top: 0px;
	left: 0px;
	width: 152px;
	height: 44px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(74.74,121.12,32.3,1);
}


#account_ek1 {
	top: 10px;
	left: 67px;
	width: 76px;
	height: 39px;
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size: 20px;
	text-align: left;
	color:#FFFFFF;
}

#icons_general___cart {
	top: 8px;
	left: 34px;
	width: 27px;
	height: 27px;
}

#icon_action_account_circle_24px {
	top: 2.25px;
	left: 2.25px;
	width: 22.5px;
	height: 22.5px;
}


#icon_action_account_circle_24px_ek1 {
	top: 2.25px;
	left: 2.25px;
	width: 22.5px;
	height: 22.5px;
}

#frame_19 {
	top: 797px;
	left: 468px;
	width: 990px;
	height: 159px;
}
#frame_20 {
	top: 0px;
	left: 0px;
	width: 1044px;
	height: 159px;
}

#gold_trans_2 {
	top: 0px;
	left: 0px;
	width: 186px;
	height: 159px;
}

#footer {
	top: 28.5px;
	left: 186px;
	width: 858px;
	height: 102px;
}

#this_website_is_managed_by_maprc___iit_gandhinagar {
	top: 19px;
	left: -3px;
	width: 317px;
	height: 77px;
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size: 18px;
	text-align: center;
	line-height: 32px;
	margin-top: -4.6666666666667px;
	height: 95px;
	color:#FFFFFF;
}

#links {
	top: 0px;
	left: 658px;
	width: 200px;
	height: 102px;
}

#previous_year {
	top: 0px;
	left: 0px;
	width: 135px;
	height: 45px;
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size: 18px;
	text-align: left;
	line-height: 32px;
	margin-top: -4.6666666666667px;
	height: 63px;
	color:#FFFFFF;
}


#year_book_of_class_2021 {
	top: 40px;
	left: 0px;
	width: 219px;
	height: 45px;
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size: 18px;
	text-align: left;
	line-height: 32px;
	margin-top: -4.6666666666667px;
	height: 63px;
	color:#FFFFFF;
}


#year_book_of_class_2020 {
	top: 70px;
	left: 0px;
	width: 223px;
	height: 45px;
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size: 18px;
	text-align: left;
	line-height: 32px;
	margin-top: -4.6666666666667px;
	height: 63px;
	color:#FFFFFF;
}
